/* Popup Styles */
#TablePopup,
#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.TablePopup.popup {
    display: block;
}

.popup {
    width: 75%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Show the popup when it's active */
.popup.active {
    display: block;
}

/* Styles for Popup Close Button */
.popup-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    /* background-color: transparent; */
    border: none;
    background-color: #5D6D7E;
    cursor: pointer;
}
.popup-close-button:hover {
    color: #7E8E98;

}

.close-button {
    background-color: #5D6D7E;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor:pointer;
}

.close-button:hover {
    background-color: #7E8E98;
    color: black;
}
