h1 {
    font-family: Arial, sans-serif;
    padding-left: 90px;
    color: #333333
}

/*
.tablePageHeading {
    margin-left:60px;
    margin-top: 25px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px;
}
*/

.tablePageHeading {
     margin-left:60px;
     margin-bottom: 20px;
}

.table-container {
    margin: 0 auto; /* This will center the table horizontally */
    width: 90%; /* Adjust the width as needed */
    max-height: 400px;
    overflow: auto;
    padding-right: 2px;
}

table {
            border-collapse: collapse;
            width: 90%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            font-size: 12px
        }

        th {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            background-color: #5D6D7E;
            color: #fff;
            font-size: 14px
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        span{
            cursor: pointer;
        }

.view_bug_nav {
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: 60px;
    margin-top: 25px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px
}

.table-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-container th {
        position: sticky;
        top: 0;
    }

 /* Customizing the scrollbar for WebKit-based browsers (e.g., Chrome, Safari) */
    .table-container::-webkit-scrollbar {
        width: 5px; /* Adjust the width as per your preference */
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 2px; /* Rounded corners for the scrollbar thumb */
    }
