<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Bugs</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='view_table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form_popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='status_filter.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>

<nav class="view_bug_nav">
    <!-- Breadcrumbs -->
    <a href="{{ url_for('index') }}">Home</a> / View Bugs
</nav>

<div id="filter-container" class="filter-container">
  <label for="filter-status">Filter by Status:</label>
  <select id="filter-status">
    <option value="">All</option>
    <option value="Open">Open</option>
    <option value="In Progress">In progress</option>
    <option value="Closed">Closed</option>
  </select>
</div>

<h1 class="tablePageHeading">Bug Lists</h1>
    <div class="table-container">
        <div class="table-wrapper">

            <table id="bug-table">
                <tr>
                    <th>Bug ID</th>
                    <th>Description</th>
                    <th>Test Result</th>
                    <th>Status</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                </tr>
                <tbody>
                    <tr id="no-records-row" style="display: none;">
                        <td colspan="6">No records found.</td>
                    </tr>

                    {% for bug_id, bug_report in bug_report.items() %}
                <tr>
                    <td onmouseover="showDeleteIcon(this)" onmouseout="hideDeleteIcon(this)">
                        <!-- <span onclick="openUpdateBugForm('{{ bug_id }}')">{{ bug_id }}</span> -->
                        <span class="bug-id" data-id="{{ bug_id }}" onclick="openUpdateBugForm('{{ bug_id }}')">
                            {{ bug_id }}</span>
                        <span class="delete-icon" onclick="deleteBug('{{ bug_id }}')"><i class="fas fa-trash"></i>
                        </span>
                    </td>
                    <td>{{ bug_report.Description }}</td>
                    <td>{{ bug_report.Update }}</td>
                    <td>{{ bug_report.Status }}</td>
                    <td>{{ bug_report.Date }}</td>
                    <td>{{ bug_report.Update_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<!-- Popup Container -->
<div id="popupContainer">
<!-- Update Bug Popup -->
    <div id="updateBugForm" class="popup TablePopup">

        <!-- Update Bugs Status Popup -->
        <div id="update-bugs-popup" class="popup-container" style="display: none;">
            <p id="update-bugs-popup-message" class="popup-message"></p>
            <div onclick="hideUpdateBugsPopup()" class="popup-close-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        </div>

            <h3>Update Bug</h3>
            <form id="updateBugPopup" action="/update_bugs" method="post" onsubmit="return updateBugsFormSubmit()">
                <!-- Update Bug Form Fields ... -->
                <label for="bug_id">Bug ID:</label>
                <input type="number" id="bug_id" name="bug_id" required>
                <br>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" disabled>
                <br>
                <label for="change">Update:</label>
                <input type="text" id="change" name="change" required>
                <br>
                <div id="statusContainer">
                    <label for="status">Status:</label>
                    <br>
                    <select id="status" name="status" required>
                        <option value="Open">Open</option>
                        <option value="In Progress">In progress</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <br>
                </div>
                <input type="submit" value="Update Bug">
            </form>
            <button class="close-button" onclick="closePopup('updateBugForm')">Close</button>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script src="{{ url_for('static', filename='auto_populate.js') }}"></script>
<script src="{{ url_for('static', filename='form_popup.js') }}"></script>
<script src="{{ url_for('static', filename='table_auto_refresh.js') }}"></script>
<script src="{{ url_for('static', filename='table_filter.js') }}"></script>

</body>
</html>